body {
    background-color: #d5ffb3;
    font-family: monospace, "Courier New";
}

.image {
    width: 15%;
    margin: 0 auto;
}

.heading, .description {
    text-align: center;
}

.sub-heading {
    font-weight: 800;
}

.recipe-link {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}